<md-dialog aria-label="Login" ng-init="showpassword='password';">


  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header header-color">

      <h4 class="modal-title" style="text-align: center;">Login</h4>
    </div>
    <div class="modal-body">
      <div class="row"><label style="color: red;margin-left: 24px;">{{logerrormsg}}</label></div>

      <div class="row">
        <form name="loginForm">

          <div class="col-sm-6">
            <md-input-container class="md-block">
              <label style="    top: -15px;">Email</label>
              <input required type="email" name="username" ng-model="username" minlength="10" maxlength="100"
                ng-pattern="/^.+@.+\..+$/" />

              <div ng-messages="loginForm.username.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  Invalid email id
                </div>
              </div>
            </md-input-container>
            <!-- show-password="showPassword" -->
            <md-input-container class="md-block">
              <label style="    top: -15px;">Password</label>
              <input type="{{showpassword}}" required name="password" ng-model="password"> <i class="fas fa-eye" style="margin-top: 14px;
            position: absolute;
            margin-left: -12px;" ng-click="showpasswordFunction();"></i>
              <div ng-messages="loginForm.password.$error">
                <div ng-message="required">This is required.</div>
              </div>

            </md-input-container>

            <div class="row">
              <div class="col-sm-12">
                <button type="button" class="btn btn-primary custom-button-cancel " ng-click="cancelDiloge();"
                  data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="login()" class="btn btn-primary custom-button">Login</button>
              </div>
            </div>


          </div>
          <div class="col-sm-6" style=" height: 200px;">
            <div class="second-coloum">
              <div class="col-sm-12 sighnup-buttons ">

                <img src="https://image.flaticon.com/icons/svg/145/145802.svg" alt="matrimony"
                  style=" padding: 2px;      height: inherit;" class="img-responsive"><span
                  class="sighnup-span">Facebook</span>
              </div>



              <div class="col-sm-12 sighnup-buttons"> <img src="https://image.flaticon.com/icons/svg/281/281764.svg"
                  alt="matrimony" style="    padding: 2px;   height: inherit;" class="img-responsive"><span
                  class="sighnup-span">Google</span>
              </div>

            </div>
          </div>
        </form>
      </div>


    </div>
</md-dialog>