<style>
.form-group {
    margin-bottom: 14px;
    display: flex;
    margin-top: 15px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
</style>
<div class="container-fluid">



<div class="row serach-bar-inside">
    <!-- <center style="color: white;padding: 3px;
font-size: 14px;"><label>Shortlisted Profiles </label>

</center> -->
<div class="col-sm-8">
       
</div>
<div class="col-sm-4">
        <div class="form-group">
                <label for="usr"></label>
                <input type="text" class="form-control" id="usr" placeholder="Search">
                <button class="sec-timer-btn md-raised md-primary md-button md-ink-ripple verification-bar-button" type="button" 
                ng-click="gotoSearchProfile();" style="    min-height: 33px !important;
                margin-top: 0px;
                margin-left: -2px;background-color: var(--main-primary-color);" aria-label="Verify your account"><span class="ng-scope"><i class="fas fa-search"></i></span>
                <div class="md-ripple-container" style=""></div>
            </button>  
            </div>
</div>
</div>


<div class="panel" style="min-height: 427px;border-radius: 11px;    padding: 14px;">
    <div ng-repeat="profile in profiles">
    <div class="row" style="" ng-click="goToProfileView(profile.id)">
        <div class="col-sm-3 imgUp">
            <div class="imagePreview circlrImg you-may-like-pic " style="background-image: url({{profile.photos.profilePicturePath}});"></div>
            <!-- <label class="btn  btn-primary2">
                Upload<input type="file" class="uploadFile img" value="Upload Photo"
                    style="width: 0px;height: 0px;overflow: hidden;">
            </label> -->
            <div class="CheckboxCustom"  style="    padding: 10px;">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">

                </md-checkbox>
                <md-checkbox ng-model="data.cb2" aria-label="Checkbox 1">

                </md-checkbox>
                <md-checkbox ng-model="data.cb3" aria-label="Checkbox 1">

                </md-checkbox>
                <md-checkbox ng-model="data.cb4" aria-label="Checkbox 1">

                </md-checkbox>
                <md-checkbox ng-model="data.cb5" aria-label="Checkbox 1">

                </md-checkbox>
            </div>
            <div><label>Profile Verified 3 out of 5{{ data.cb1 }}</label>
            </div>
            <div><label>Profile Created by Self</label>
            </div>

        </div>


        <!--    --------------------          2nd block    ----------------------      -->
        <div class="col-sm-3 block-boredr">
            <div id="name">
                <label style="color: blue;    font-weight: bold;">{{profile.personalDetails.name}}</label><label style="    padding-left: 20px;
    font-size: 10px;
    ">(Age-25)</label>
            </div>

            <div id="Positiuon">
                <label class="story-msg ">{{profile.educationDetails.occupation}}</label>
            </div>
            <div class="">
                <div class="user-info">
                    <i class="fas fa-map-marker-alt my-profile-font"></i> <label class="my-profile-label"> Lives In
                        {{profile.currentAddress.city}}, {{profile.currentAddress.state}}</label>
                </div>
                <div class="user-info">
                    <i class="fas fa-home my-profile-font" aria-hidden="true"></i> <label
                        class="my-profile-label">From {{profile.permennetAddress.city}}, {{profile.permennetAddress.state}}

                    </label>
                </div>
                <div class="user-info">
                    <i class="far fa-heart my-profile-font"></i><label class="my-profile-label">{{profile.personalDetails.maritalStatus}}

                    </label>
                </div>
                <div class="user-info">
                    <i class="far fa-envelope my-profile-font"></i> <label
                        class="my-profile-label">{{profile.basicDetails.email}}</label>
                </div>
                <div class="user-info">
                    <i class="fas fa-mobile-alt my-profile-font"></i> <label
                        class="my-profile-label">{{profile.basicDetails.primaryMobile}}</label>
                </div>
            </div>


        </div>

        <!--    --------------------          3rd block    ----------------------      -->

        <div class="col-sm-3 block-boredr" style="padding-top: 72px;height: 218px;">
            <div class="row responssive-block">
                <div class="col-sm-6 user-info"><label class="my-profile-label">DOB</label> </div>
                <div class="col-sm-6 user-info"> <label class="my-profile-label">{{profile.personalDetails.dob}}</label> </div>
            </div>
            <div class="row responssive-block">

                <div class="col-sm-6 user-info"><label class="my-profile-label">Height</label> </div>
                <div class="col-sm-6 user-info"> <label class="my-profile-label">{{profile.health.height}}</label> </div>
            </div>
            <div class="row responssive-block">

                <div class="col-sm-6 user-info"><label class="my-profile-label">Skin Tone</label> </div>
                <div class="col-sm-6 user-info"> <label class="my-profile-label">{{profile.health.skinTone}} </label> </div>
            </div>
            <div class="row responssive-block">

                <div class="col-sm-6 user-info"><label class="my-profile-label">Body Type</label> </div>
                <div class="col-sm-6 user-info"> <label class="my-profile-label">{{profile.health.bodyType}}</label> </div>

            </div>
            <div class="row responssive-block">

                <div class="col-sm-6 user-info"><label class="my-profile-label">Weight</label> </div>
                <div class="col-sm-6 user-info"> <label class="my-profile-label">{{profile.health.weight}} Kg</label> </div>
            </div>
        </div>

        <!--    --------------------          4th block    ----------------------      -->

        <div class="col-sm-3 block-boredr" style="       padding-top: 72px;height: 218px;">
            <div class="row responssive-block">
                <div class="col-sm-6 user-info"><label class="my-profile-label">Religion</label> </div>
                <div class="col-sm-6 user-info"> <label class="my-profile-label">{{profile.religionDetails.religion}}</label> </div>
            </div>

            <div class="row responssive-block">
                <div class="col-sm-6 user-info"><label class="my-profile-label">Caste</label> </div>
                <div class="col-sm-6 user-info"> <label class="my-profile-label">{{profile.religionDetails.caste}}</label> </div>
            </div>
            <div class="row responssive-block">
                <div class="col-sm-6 user-info"><label class="my-profile-label">Community</label> </div>
                <div class="col-sm-6 user-info"> <label class="my-profile-label">{{profile.religionDetails.community}} </label> </div>
            </div>
            <div class="row responssive-block">
                <div class="col-sm-6 user-info"><label class="my-profile-label"> Mother Tongue</label> </div>
                <div class="col-sm-6 user-info"> <label class="my-profile-label">{{profile.religionDetails.motherTongue}}</label> </div>
            </div>

        </div>

    </div>
    <div class="row color-bar" style="    min-height: 0px;     margin-bottom: 22px;
    ">
        <center style="color: white;
font-size: 14px;"><label></label></center>
    </div>

   </div>
   <div class="row ">
    <center style="color: white;padding: 18px;
font-size: 14px;">  <button type="button" style="width:16%;" class="btn btn-primary custom-button-cancel "
                ng-click="" ui-sref="home.partnerProfile" data-dismiss="modal">Back</button></center>
</div> 
</div>


</div>